* {
  margin: 0;
  padding: 0;
}

.card {
  min-width: 40vh;
  height: 20vh;
  margin: 16px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #c9e9ec;
  overflow: auto;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}

.card-content-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px;
  padding: 2px;
}
