.container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}
